params {
    input     = '/input/input/landsat'
    dem       = '/input/input/dem'
    wvdb      = '/input/input/wvdb'
    data_cube = '/input/input/datacube-definition.prj'
    aoi       = '/input/input/aoi.gpkg'
    endmember = '/input/input/hostert-2003.txt'

    start_date = '1984-01-01'
    end_date   = '1986-12-31'

    sensors_level2 = 'LND04 LND05'

    outdir = '/input/data/output/out/'
    group_size = 5000
    mosaic_visualization  = false
    pyramid_visualization = false

}

process.time = "1d"