params {
    // Parameters for full-size test
    input          = '/input/input/input.csv'
    genome         = 'GRCh37'
    pseudo_aligner = 'salmon'
    outdir = "/input/data/outdata"

    fasta       = "/input/input/ref/genome.fa"
    gtf         = "/input/input/ref/genes.gtf"
    gene_bed    = "/input/input/ref/genes.bed"
    star_index  = "/input/input/ref/STARIndex/"

    max_memory              = '60.GB'
    max_cpus                = 15
}

process.outLabel = { task.tag } 
