params {
    input                   = "/input/input/chip_seq_data.csv"
    // Genome references
    genome                  = 'GRCh37'
    outdir                  = "/input/data/outdata/"
    fasta                   = "/input/input/ref/genome.fa"
    gtf                     = "/input/input/ref/genes.gtf"
    genomes.'GRCh37'.readme = "/input/input/ref/README.txt"
    bwa_index               = "/input/input/ref/version0.6.0/"
    bowtie2_index           = "/input/input/ref/Bowtie2Index/"
    star_index              = "/input/input/ref/STARIndex/"
    skip_multiqc            = true
    publish_dir_mode        = 'symlink'
}